body{
    padding: 0;
    margin: 0 auto;
    font-family: 'Nirmala UI', 'Arial', sans-serif;
    max-width: 3440px;
    min-width: 320px;
}
.navBar{
    background-color: rgb(60, 7, 1);
    color: white;
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 3;
    top: 0;
    transition: top 0.2s;
    max-width: 3440px;
}
.navBar a{
    text-decoration: none;
    color: white;
}
.link{
    padding: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    transition: 0.2s;
}
.links{
    display: inline-block;
}
.nav{
    float: right;
    margin-right: 100px;
}
.logo{
    position: absolute;
    padding: 5px;
    width: 10%;
    transition: 0.2s;
}
.logo img{
    width: 100%;
    text-align: center;
    transition: 0.1s;
}
.logo img:hover{
    opacity: 0.75;
    transition: 0.1s;
}
.link:hover{
    background-color: rgba(179, 115, 114, 0.75);
    transition: 0.3s;
}
.flag{
    width: 3%;
    position: absolute;
    display: inline-block;
    left: 95%;
    top: 10%;
    transition: 0.2s;
}
.flag img{
    position: relative;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.65);
    border-radius: 100%;
    width: 100%;
}
.mainTitle{
    position: relative;
    font-family: 'Nirmala UI', 'Arial', sans-serif;
    font-size: 150px;
    width: 100%;
    text-align: center;
    color: rgba(60, 7, 1, 0.85);
    text-shadow: 3px 3px 10px black;
    margin-top: 200px;
    margin-bottom: 250px;
}
.innhold{
    padding: 50px;
    background-color: rgb(248, 246, 246);
    box-shadow: 0px 0px 50px 75px rgb(248, 246, 246); /* Denne linja lager fade på boksen */
    color: rgb(36, 4, 0);
}
.contactBar{
    background-color: rgb(102, 86, 85);
}
.contactInfo{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 60px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info{
    width: fit-content;
    margin: auto;
}
.contactInfo a{
    color: white;
}
.contactInfo a:hover{
    color: #3C0701;
}
.contactInfo h2{
    font-size: 30px;
}
.contactInfoImg{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 60px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
}
.contactInfoImg img{
    width: 100%;
    transition: 0.1s;
}
.contactInfoImg img:hover{
    opacity: 0.75;
    transition: 0.1s;
}
.nextPage{
    color: rgb(255, 248, 245);
    background-color: rgb(179, 115, 114);
    width: fit-content;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.171);
    margin-top: 30px;
    font-size: 20px;
}
.nextPage:hover{
    text-decoration-line: underline;
}
.linkNextPage{
    text-decoration: none;
}

@media only screen and (min-width: 3440px){
    .logo{
        width: 3.6%;
    }

    .navBar .flag img{
        max-width: 44%; 
        margin-left: 90px;
    }
}

@media only screen and (max-width: 3440px){
    .logo{
        width: 3.6%;
    }

    .navBar .flag img {
        width: 45%;
        margin-left: 90px;
    }
}

@media only screen and (max-width: 2860px){
    .logo{
        width: 5%; 
    }
    .navBar .flag img{
        width: 55%; 
        margin-left: 50px;
    }
}

@media only screen and (max-width: 2560px){
    /* .logo{
        width: 5%;
    } */

      .navBar .flag img{
        width: 44%; 
        margin-left: 25px;
    }
}

@media only screen and (max-width: 2300px){
    .navBar .logo{
        width: 6%; 
    }

    .navBar .flag img{
        width: 65%; 
        margin-left: 45px;
    }
}


@media only screen and (max-width: 1730px) {
    .navBar .flag img{
        width: 100%; 
        margin-left: 0px;
    }

    .navBar .logo{
        width: 7%; 
    }


}

@media only screen and (max-width: 1530px){
    /* .navBar .flag img{
        width: 100%; 
        margin-left: 5px;
    } */
    
}

@media only screen and (max-width: 1330px){
    .navBar .logo{
        width: 10%;
    }
    .contactInfo{
        margin: 40px;
    }
    .contactInfoImg{
        margin: 40px;
    }
}

@media only screen and (max-width: 1145px){
    .contactInfo{
        margin: 30px;
    }
    .contactInfoImg{
        margin: 20px;
    }
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 1050px){
    .mainTitle{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .contactInfo{
        margin: 10px;
    }
}

@media screen and (max-width: 1000px){
    .link{
        padding: 10px;
        font-size: 17px;
    }
    /*.flag{
        width: 28px;
    }*/
    /*.logo{
        width: 10%;
    }*/
    .nav{
        margin-right: 50px;
    }
    .mainTitle{
        font-size: 100px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .contactInfo{
        margin: 20px;
    }
    .contactInfoImg{
        width: 20%;
        margin: auto;
    }
}

@media only screen and (max-width: 800px){
    .navBar .logo{
        width: 10%; 
    }
    .navBar .flag img{
        min-width: 30px;
        margin-left: -5px;
    }
}

@media only screen and (max-width: 680px) {
    .navBar .flag img{
        margin-left: -15px;
    }
}

@media only screen and (max-width: 629px) {
    .navBar .logo{
        width: 30%; 
    }
}



@media screen and (max-width: 630px){
    .mainTitle{
        font-size: 50px;
        margin-top: 10%;
        margin-bottom: 50px;
        text-shadow: 2px 2px 6px black;
    }
    .link{
        font-size: 20px;
        padding: 5px;
    }
    /* .flag{
        width: 50%;
        left: 90%;
    } */
    .nav{
        margin: auto;
        float: none;
        text-align: center;
    }
    .logo{
        width: 25%;
        padding: 2px;
        margin: auto;
        position: relative;
    }
    .innhold{
        padding: 5px;
    }
    .contactInfo h2{
        font-size: 20px;
    }
    .contactInfo{
        font-size: 15px;
        margin: 5px;
    }
    .navBar{
        position: relative;
    }
    .links{
        width: fit-content;
        margin: auto;
    }
    .nextPage{
        font-size: 15px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 500px){
    .logo img{
        width: 100px;
    }

}

@media screen and (max-width: 360px){
    .contactInfo h2{
        font-size: 15px;
    }
    .contactInfo{
        font-size: 12px;
    }
}


/*-- Nederste bar - span over*/

a.span {
    position:relative;
    z-index:24;
    text-decoration:none;
}

a.span span {
    position: absolute;
    width: 0;
    overflow: hidden;
}

a.span:hover span, a.span:focus span, a.span:active span {
    display:block;
    position:absolute;
    bottom: 1.7em;
    left: 6em;
    width: 10em;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
}