body{
    background-image: url('../pics/forsidePic.jpg'); /* Picture taken by COmeals (us)*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-color: #EFEDDE;
    background-size: cover;
    min-width: 320px;
    min-height: 700px;
}
.mainTitle h1{
    margin-top: 250px;
}
.punchline{
    margin: 180px;
    font-family: 'Nirmala UI', 'Arial', sans-serif;
    font-size: 40px;
    color: #3C0701;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);
    text-align: center;
}
.aboutUs{
    width: 50%;
    margin: auto;
    transition: 0.2s;
}
.aboutUs h2{
    font-size: 30px;
}
.aboutUs p{
    font-size: 20px;
}
.aboutUs a{
    text-decoration: none;
}

@media screen and (max-width: 1050px){
    .punchline{
        font-size: 40px;
    }
    .aboutUs{
        width: 90%;
    }
}

@media screen and (max-width: 980px){
    .punchline{
        font-size: 30px;
    }
    .aboutUs{
        width: 90%;
    }
}

@media screen and (max-width: 630px){
    .punchline{
        font-size: 18px;
        margin: 10px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.671);
    }
    .aboutUs{
        width: 90%;
    }
    .aboutUs h1{
        font-size: 25px;        
    }
    .aboutUs p{
        font-size: 15px;
    }
    .mainTitle h1{
        margin-top: 100px;
    }
    body{
        background-size: 200%;
    }
}

@media screen and (max-width: 500px){
    body{
        background-size: 250%;
    }
}

@media screen and (max-width: 400px){
    body{
        background-size: 350%;
    }
}