html{
    scroll-behavior: smooth;
  }
body{
    background-image: url('../pics/forsidePic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-color: #EFEDDE;
    min-width: 320px;
}
.mainTitle h1{
    margin-top: 250px;
}
.punchline{
    margin: 100px;
    font-family: 'Nirmala UI', 'Arial', sans-serif;
    font-size: 40px;
    color: #3C0701;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);
    text-align: center;
}
.down {
    font-weight: bold;
    font-size: 20px;
    color: #3C0701;
    margin-bottom: 2px;
    margin-top: 70px;
}
.arrowDown{
    margin: 0;
    width: 40px;
    transition: 0.3s;
}
.scrollDown{
    opacity: 1;
    position: relative;
    margin-bottom: 100px;
    width: fit-content;
    margin: auto;
    text-align: center;
}
.aboutUs{
    width: 50%;
    margin: auto;
}
.aboutUs h2{
    font-size: 30px;
}
.aboutUs p{
    font-size: 20px;
}
.aboutUs a{
    text-decoration: none;
}

@media screen and (max-width: 1200px){
    .innhold{
        box-shadow: 0px 0px 50px 400px #EFEDDE;
    }
}

@media screen and (min-width: 1050px){
    body{
        background-size: 100%;
    }
}

@media screen and (max-width: 1050px){
    body{
        background-size: cover;
    }
    .punchline{
        font-size: 40px;
    }
    .aboutUs{
        width: 90%;
    }
    .innhold{
        box-shadow: 0px 0px 50px 75px #EFEDDE;
    }
}

@media screen and (max-width: 980px){
    .punchline{
        font-size: 30px;
    }
    .aboutUs{
        width: 90%;
    }
}

@media screen and (max-width: 630px){
    .punchline{
        font-size: 18px;
        margin: 10px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.671);
    }
    .aboutUs{
        width: 90%;
    }
    .aboutUs h1{
        font-size: 25px;        
    }
    .aboutUs p{
        font-size: 15px;
    }
}