#B0686C, #3C0701, #8C3E3C, #C89985

body {
    padding:0;
    margin:0;
}

.GetStartedReferences p{
    margin-left: 20%;
    width: 60%;
}

.GetStartedHeader {
    background-color: #B0686C;
    width: 100%;
    color: #3C0701;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 50px;
}

.GetStartedHeaderLeft {
    width: 25%;
    margin-left: 20%;
}

.GetStartedHeaderLeft p{
    font-size: 60px;
    border-right: 3px solid #8C3E3C;
    line-height: 9rem;
}

.GetStartedHeaderRight {
    width: 60%;
    font-size: 40px;
    padding: 2.5%;
}



@media screen and (max-width: 1750px) {

    .StepTwoHeaderText {
        width: 90% !important;
    }
}

@media screen and (max-width: 1600px) {

    .StepTwoHeaderText {
        width: 96% !important;
    }
    
    
    .StepTreeHeaderText {
    width: 80% !important;
    }
    
    
}


@media screen and (max-width: 1500px) {

    .StepTwoHeaderText {
        width: 107% !important;
    }
    
    .StepTreeHeaderText {
    width: 85% !important;
    }
}



@media screen and (max-width: 1500px) {     /*-- Denne er OK - endrer kun på den øverste linja*/
    .GetStartedHeaderLeft {
        margin-left: 1%;
        width: 25% ;
    }
    
    .GetStartedHeaderRight {
    width: 50%;
    margin-left: 0;
    margin-right: 20%;
    padding: 1%;
    }

}


@media screen and (max-width: 1410px) {     /*-- Her er det fra 1400-1300 så bilder og text aligner.*/
    .GetStartedHeaderLeft p{
        line-height: 6rem;
    }
    
    
    .StepOne {
        display: inline !important;
    }
    
    .StepOneText {
        width: 40% !important;
        margin-left: 8%;
        padding-left:0 !important;
        
    }
    
    .StepOnePics {
        width: 90%;
        margin-left: 30%;
    }
    
    
        .StepTwo {
        display: inline !important;
    }
    
    .StepTwoText {
        width: 40% !important;
        margin-left: 6%;
        padding-left:0 !important;
    }
    
    .StepTwoPics {
        width: 90%;
        margin-left: 30%;
    }
    
    
        .StepTree {
        display: inline !important;
    }
    
    .StepTreeText {
        width: 40% !important;
        margin-left: 8%;
        padding-left:0 !important;
        margin-left: 14.5% !important;
    }
    
    .StepTreePics {
        width: 90%;
        margin-left: 30%;
    }
    
    
        .StepFour {
        display: inline !important;
    }
    
    .StepFourText {
        width: 40% !important;
        margin-left: 8%;
        padding-left:0 !important;
    }
    
    .StepFourPics {
        width: 90%;
        margin-left: 30%;
        padding-left: 0;
    }
}



@media screen and (max-width: 1250px) {     /*-- Her er det fra 1300 så bilder og text aligner. Skal være .StepText for alle stegene*/
    .StepOneText {
        width: 40% !important;
        margin-left: 8%;
        padding-left: 5% !important;
    }
    
    .StepTwoText {
        width: 40% !important;
        margin-left: 8%;
        padding-left: 5% !important;
    }
    
    .StepTreeText {
        width: 40% !important;
        margin-left: 8%;
        padding-left: 5% !important;
    }
    
    
    .StepFourText {
        width: 40% !important;
        margin-left: 8%;
        padding-left: 5% !important;
    }
    
}

@media screen and (max-width: 1034px) { /*-- */
    .StepTwoPics {
        width: 60% !important;
    }
}



@media screen and (max-width: 943px) { /*-- */
    .StepOnePics {
        margin-left:40%;
    }
    
    .StepTwoPics {
        margin-left:40%;
    }
    
    
    .StepTreePics {
        margin-left:40%;
    }
    
    
    .StepFourPics {
        margin-left:40%;
    }
}





@media screen and (max-width: 750px) {     /*-- Her er det fra 1300 så bilder og text aligner.*/
    .StepOneHeaderText {
        display: inline !important;
    }
    
    
    .StepTwoHeaderText {
        display: inline !important;
    }

    
    .StepTreeHeaderText {
        display: inline !important;
    }
    
    
    .StepFourHeaderText {
        display: inline !important;
    }
    
    
    .StepOneText {
        padding:0;
        margin:0;
    }
    
    .StepTwoText {
        padding:0;
        margin:0;
    }
    
    .StepTreeText {
        padding:0;
        margin:0;
    }
    
    
    .StepFourText {
        padding:0;
        margin:0;
    }
    
    .StepOnePics {
        padding:0;
        margin:0;
    }
    
    .StepTwoPics {
        padding:0;
        margin:0;
    }

    .StepTreePics {
        padding:0;
        margin:0;
            }

    .StepFourPics {
        padding:0;
        margin:0;
                }

}



@media screen and (max-width: 700px) {      /*-- Endrer på øverste linja + */
    .GetStartedHeader {
        display: grid !important;
    }
    
    .GetStartedHeaderLeft p {
        border: 0px;
    }
    
    
    
    
}





    /*-- Her kommer all annen css som ikke inkl media query*/

.StepOne {
    width: 100%;
    padding-bottom: 250px;
    color: #3C0701;
    display: flex;
    justify-content: space-between;
}

.StepOneHeaderText {
    display: flex;
}

.StepOneHeader{
    width: 20%;
    padding-top: 5%;
    padding-right: 5%;
}

.StepOneText {
    width: 50%;
    padding-top: 5%;
    padding-left: 10%;
    margin-top: 1%;
    color: #3C0701;
}

.StepOnePics {
    width: 60%;
    padding-top: 3%;
    display: inline-block;
}


.StepOnePics img{
    width: 200px;
    height: 400px;
    padding: 5%;
    display: inline-block;
}


/**Her kommer alt for Steg 2**/
.StepTwo {
    width: 100%;
    padding-bottom: 250px;
    color: #3C0701;
    display: flex;
    justify-content: space-between;
}

.StepTwoHeaderText {
    display: flex;
    width: 82%;
}

.StepTwoHeader{
    width: 20%;
    padding-top: 5%;
    padding-right: 5%;
}

.StepTwoText {
    width: 50%;
    padding-top: 5%;
    padding-left: 10%;
    margin-top: 1%;
    color: #3C0701;
}

.StepTwoPics {
    width: 70%;
    padding-top: 3%;
    display: inline-block;
}


.StepTwoPics img{
    width: 200px;
    height: 400px;
    padding: 5%;
    display: inline-block;
}


/**Her kommer alt for Steg 3**/
.StepTree {
    width: 100%;
    padding-bottom: 250px;
    color: #3C0701;
    display: flex;
    justify-content: space-between;
}

.StepTreeHeaderText {
    display: flex;
    width: 75%;
}

.StepTreeHeader{
    width: 20%;
    padding-top: 5%;
    padding-right: 5%;
}

.StepTreeText {
    width: 50%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 0;
    margin-top: 1%;
    color: #3C0701;
    
}

.StepTreePics {
    width: 60%;
    padding-top: 3%;
    display: inline-block;
}


.StepTreePics img{
    width: 200px;
    height: 400px;
    padding: 5%;
    display: inline-block;
}

/**Her kommer alt for Steg 4**/
.StepFour {
    width: 100%;
    padding-bottom: 250px;
    color: #3C0701;
    display: flex;
    justify-content: space-between;
}

.StepFourHeaderText {
    display: flex;
}

.StepFourHeader{
    width: 20%;
    padding-top: 5%;
    padding-right: 5%;
}

.StepFourText {
    width: 50%;
    padding-top: 5%;
    padding-left: 10%;
    margin-top: 1%;
    color: #3C0701;
}

.StepFourPics {
    width: 60%;
    padding-top: 3%;
    display: inline-block;
}


.StepFourPics img{
    width: 200px;
    height: 400px;
    padding: 5%;
    display: inline-block;
}

