body{
    background-color: rgb(255, 248, 245);
}

.contentWrap {
    text-align: center; 
    font-size: 25px;
    max-width: 1024px; 
    margin: 0 auto;
    background-color: rgb(255, 248, 245);
}

p{
    line-height: 45px;
}