body{
    font-family: Nirmala UI;
    background-color: rgb(255, 248, 245);
    min-width: 320px;
}
body .navBar{
    z-index: 3; 
}
.sidetoPics .descriptionPic p{
   /* font-size: 12px; */
    line-height: 0px!important;

}
.mainTitle{
    font-size: 100px;
    z-index: 2;
}
.headerPic{
    margin: 0;
    overflow: hidden; 
    position: relative; 
}
.headerPic .mainTitle{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerPicp{
    line-height: 0; 
    font-size: 15px;
}

.headerPic img{
    width: 100%;
    height: auto; 
    margin-top: -290px;
    margin-bottom: -300px;
    filter: blur(1px);
}
.link-spanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.466);

    z-index: 1;
  } 

.contentWrap{
    font-size: 18px;
    max-width: 1024px; 
    margin: 0 auto;
    background-color: rgb(255, 248, 245);
}

.nextPage{
    margin-bottom: 100px!important;
}

.sideToPics p{
   
    font-size: 14px;
    /* margin: 0 auto; */
    line-height: 20px!important;
    max-width: 700px;
}

.sideToPics img {
    height:auto; 
    width: 700px;
}


h1{
    color: rgba(106, 0, 14, 0.85)
}

.contentWrap p{
    line-height: 50px;
}


@media only screen and (max-width: 1730px) {
    .headerPic img{
        margin-top: -250px;
        margin-bottom: -280px;
    }
    .mainTitle b{
        font-size: 100px;
    }
}

@media only screen and (max-width: 1530px) {
    .headerPic img{
        margin-top: -240px;
        margin-bottom: -250px;
    }
    .mainTitle b{
        font-size: 100px;
    }
}

@media only screen and (max-width: 1430px) {
    .headerPic img{
        margin-top: -200px;
        margin-bottom: -250px;
    }
    .mainTitle b{
        font-size: 100px;
    }
}

@media only screen and (max-width: 1330px) {
    .headerPic img{
        margin-top: -100px;
        margin-bottom: -230px;
    }
}

@media screen and (max-width: 1230px){
    .headerPic img {
        margin-top: -40px;
        margin-bottom: -200px;
    }
    .mainTitle b{
        font-size: 65px;
    }
}

@media only screen and (max-width: 1100px){
    .headerPic img{
        margin-top: -20px;
        margin-bottom: -200px;
    }
    .contentWrap{
        padding: 0 50px 0 50px;
    }
    .mainTitle b{
        font-size: 60px;
    }
}

@media only screen and (max-width: 900px){
    .headerPic img{
        margin-top: -17px;
        margin-bottom: -190px;  
    }
    .mainTitle b{
        font-size: 55px;
        padding: 0 20px 13px 20px;
    }
}

@media only screen and (max-width: 800px){
    .sideToPics img{
        max-width: 450px;
        height: auto;
    }
    .mainTitle b{
        font-size: 50px;
    }

}

@media only screen and (max-width: 700px){
    .contentWrap{
        font-size: 16px;
        padding: 0 25px 0 25px; 
        }
    .headerPic img{
        margin-top: 0px;
        margin-bottom: -100px;
    }
    .mainTitle b{
        font-size: 40px;
    }
    .headerPicp{
        display:inline-block;
    }
    .sideToPics img{
        max-width: 400px;
        height: auto;
    }
}

@media only screen and (max-width: 500px){
    .sideToPics img{
        max-width: 340px; 
        height: auto;
    }
    .contentWrap{
        padding: 0 20px 0 20px; 
    }
}

@media only screen and (max-width: 450px) {
    .contentWrap p{
        line-height: 35px;
    }
    .headerPic img{
        margin-top: 0px;
        margin-bottom: -70px;
        width: 100%;
    }
    .mainTitle b{
        font-size: 40px;
    }
    .sideToPics img{
        max-width: 280px;
        height: auto;
    }
}

@media only screen and (max-width: 380px) {
    .contentWrap{
        font-size: 14px;
        padding: 0 15px 0 15px;
        }
    .mainTitle b{
        font-size: 40px;
    }
    .sideToPics img{
        max-width: 230px;
        height: auto;
    }
}

@media only screen and (max-width: 330px) {
    .headerPic img{
        margin-top: 0px;
        margin-bottom: -70px;
        width: 100%;
    }
    .mainTitle b{
        font-size: 40px;
    }
    .sideToPics img{
        max-width: 200px;
        height: auto;
    }
}