body{
    background-image: url('../pics/problemPic.jpg');
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: top; 
    background-color: #FCF8F5;
    background-size: cover; 
    min-width: 320px;
    
}

body .navBar{
    z-index: 3; 
    max-width: 3440px;
}


.sourceInfo{
    margin-bottom: 50px;
}

.sourceInfo p{
    font-size: 15px;
    line-height: 1!important;
    margin-bottom: 15px;
}

/* .link-spanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.432);

    z-index: 0;
  }  */

.mainTitle b{
    font-size:100px; 
    padding: 0 25px 35px 25px; 
    color: rgba(60, 7, 1, 0.85)
}

.contentWrap{
    font-size: 18px;
    max-width: 1024px; 
    margin: 0;
    background-color:#FCF8F5;
    box-shadow: 0px 0px 50px 75px #FCF8F5;
    padding: 50px;
}

.innhold{
    margin-top: 200px;
}

.nextPage{
    margin-bottom: 100px!important;
}

.sideToPics p{
   
    font-size: 14px;
    /* margin: 0 auto; */
    line-height: 20px!important;
    max-width: 700px;
}

.sideToPics img {
    height:auto; 
    width: 700px;
    border: solid 8px; 
    border-color: grey; 
}


h1{
    color: rgba(106, 0, 14, 0.85)
}

.contentWrap p{
    line-height: 50px;
}

@media only screen and (max-width: 3440px){
    body{
        margin: 0 auto; 
    }
    .mainTitle h1{
        font-size: 100px;
    }

}

@media only screen and (min-width: 3440px){
    body{
        margin: 0 auto; 
    }
}


@media only screen and (max-width: 3200px){
    body{
        margin: 0 auto; 
    }

    .mainTitle h1{
        font-size: 100px;
    }

}

@media only screen and (max-width: 2860px){

}

@media only screen and (max-width: 2300px){
    body{
        margin: 0 auto; 

    }
    .mainTitle h1{
        font-size: 100px;
    }
}

@media only screen and (max-width: 1900px){
}

@media only screen and (max-width: 1730px) {
    .mainTitle h1{
        font-size: 100px;
    }
}




@media only screen and (max-width: 1530px) {
    .mainTitle h1{
        font-size: 100px;
    }
}

@media only screen and (max-width: 1430px) {
    .headerPic img{
        margin-top: -200px;
        margin-bottom: -220px;
    }
}




@media only screen and (max-width: 1330px) {
    .headerPic img{
        margin-top: -155px;
        margin-bottom: -250px;
    }
}

@media screen and (max-width: 1230px){
    .mainTitle h1{
        font-size: 65px;
    }
}

@media only screen and (max-width: 1100px){
    .contentWrap{
        padding: 0 50px 0 50px;
    }
    .mainTitle h1{
        top: 180px;
        margin-top: 0!important;
    }
}

@media only screen and (max-width: 1000px){
     .mainTitle h1{
        font-size: 100px!important;

    }
}

@media only screen and (max-width: 900px){
    .mainTitle h1{
        font-size: 80px;
    }
}

@media only screen and (max-width: 800px){
    .sideToPics img{
        max-width: 450px;
        height: auto;
    }
    .mainTitle h1{
        top: 140px;
        font-size: 40px;
        margin-top: 0!important;
    }
}

@media only screen and (max-width: 700px){
    .contentWrap{
        font-size: 16px;
        padding: 0 25px 0 25px; 
        }

    .mainTitle h1{
        font-size: 85px!important;
        top: 170px;
        margin-top: 0!important;
    }

    .sideToPics img{
        max-width: 400px;
        height: auto;
    } 
}

@media only screen and (max-width: 630px){
    .mainTitle h1{
        top: 35px;
        font-size: 60px!important;
    }
}

@media only screen and (max-width: 500px){
     .mainTitle h1{
        
        
    }

    .sideToPics img{
        max-width: 340px; 
        height: auto;
    }
    .contentWrap{
        padding: 0 20px 0 20px; 
    }
}

@media only screen and (max-width: 450px) {
    .contentWrap p{
        line-height: 35px;
    }
    
    .mainTitle h1{
        font-size: 30px!important;
    }
    .sideToPics img{
        max-width: 280px;
        height: auto;
    }
}

@media only screen and (max-width: 430px) { 
    .sourceInfo{
        max-width: 300px;
        min-width: 300px;
    }
    .sourceInfo p{
        font-size: 13px;
        line-height: 2!important;
    }
}


@media only screen and (max-width: 380px) {
    .contentWrap{
        font-size: 14px;
        padding: 0 15px 0 15px;
        }
    .mainTitle b{
        font-size: 40px;
    }
    .sideToPics img{
        max-width: 230px;
        height: auto;
    }
}

@media only screen and (max-width: 330px) {
    .headerPic img{
        margin-top: 0px;
        margin-bottom: -65px;
        width: 100%;
    }
    .mainTitle b{
        font-size: 40px;
    }
    .sideToPics img{
        max-width: 200px;
        height: auto;
    }
}