body{
    background-color: rgb(255, 248, 245);
    background-image: url('../pics/forsidePic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-color: #FCF8F5;
    min-width: 320px;
    background-size: cover;
}

body .navbar{
    z-index: 3;
    max-width: 3440px;
}
.bgfood .mainTitle{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

.mainTitle{
    z-index: 1;
    transition: 0.2s;
}

.innhold {
    margin-top: 700px;
    font-size: 18px;
    padding: 50px;
    background-color: #EFEDDE;
    box-shadow: 0px 0px 50px 75px #EFEDDE;
    color: rgb(36, 4, 0);
    transition: 0.2s;
}

.contentWrap {
    max-width: 1024px;
    background-color: #EFEDDE;
    font-size: 18px;
    margin: auto;
    transition: 0.2s;
}

.contentWrap h1{
    color: rgba(106, 0, 14, 0.85)
    transition: 0.2s;
}

.contentWrap p{
    line-height: 50px;
}

@media only screen and (max-width: 1730px) {
    .mainTitle b{
        font-size: 100px;
    }
    .mainTitle{
        margin-top: 8%;

    }
}

@media only screen and (max-width: 1530px) {
    .mainTitle b{
        font-size: 100px;
    }
    .mainTitle{
        margin-top: 8%;

    }
}

@media only screen and (max-width: 1430px) {
    .mainTitle b{
        font-size: 100px;
    }
    .mainTitle{
        margin-top: 8%;

    }
}

@media only screen and (max-width: 1330px) {
    .bgfood .mainTitle{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    
}

@media screen and (max-width: 1230px){
    .mainTitle b{
        font-size: 90px;
    }
    .mainTitle{
        margin-top: 8%;
    }
    .bgfood .mainTitle{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}

@media only screen and (max-width: 1050px){
    .contentWrap{
        padding: 0 50px 0 50px;
    }
    
    .mainTitle b{
        font-size: 80px;
    }
    .mainTitle{
        margin-top: 8%;

    }
    .innhold {
        margin-top: 550px;
    }
}

@media only screen and (max-width: 800px){
    .contentWrap{
        font-size: 18px;
        padding: 0 25px 0 25px; 
    }
    .mainTitle{
        margin-top: 12%;
    }
    .mainTitle b{
        font-size: 70px;
        padding: 10px 13px 14px 13px;
    }
    .bgfood .mainTitle{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .innhold {
        margin-top: 480px;
    }
}

@media only screen and (max-width: 700px){
    .contentWrap{
        font-size: 18px;
        padding: 0 25px 0 25px; 
    }
    .mainTitle{
        margin-top: 12%;
    }
    .mainTitle b{
        font-size: 60px;
        padding: 10px 13px 14px 13px;
    }
    .bgfood .mainTitle{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .innhold {
        margin-top: 480px;
    }
}

@media only screen and (max-width: 630px){
    .mainTitle b{
        font-size: 50px;
        padding: 7px 10px 11px 10px;
    }
    .mainTitle{
        margin-top: 11%;
    }
    .bgfood img{
        margin-top: -150px;
        margin-bottom: -35px;
    }
    .innhold {
        margin-top: 250px;
    }
}


@media only screen and (max-width: 500px){
    .contentWrap{
        padding: 0 20px 0 20px; 
    }
    .mainTitle{
        margin-top: 9%;
    }
    .bgfood .mainTitle{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .innhold {
        margin-top: 250px;
    }
}

@media only screen and (max-width: 450px) {
    .contentWrap p{
        line-height: 35px;
    }
    .bgfood img{
        margin-top: 0px;
        margin-bottom: -70px;
        width: 100%;
    }
    .mainTitle b{
        font-size: 40px;
    }
    .bgfood .mainTitle{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .innhold {
        margin-top: 250px;
    }
}

@media only screen and (max-width: 380px) {
    .contentWrap{
        font-size: 14px;
        padding: 0 15px 0 15px;
        }
    .mainTitle b{
        font-size: 40px;
    }
    .bgfood .mainTitle{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 330px) {
    .bgfood img{
        margin-top: 0px;
        margin-bottom: -70px;
        width: 100%;
    }
    .mainTitle b{
        font-size: 35px;
        padding:
    }
    .bgfood .mainTitle{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}