body{
    background-color: rgb(255, 248, 245);
    background-image: url('../pics/forsidePic.jpg');
    /*Picture taken by COmeals(us)*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-color: #EFEDDE;
    min-width: 320px;
    background-size: cover;
}

body .navbar{
    z-index: 3;
    max-width: 3440px;
}

.mainTitle h1{
    font-size: 100px;
}

.innhold {
    margin-top: 250px;
    font-size: 18px;
    padding: 50px;
    background-color: #EFEDDE;
    box-shadow: 0px 0px 50px 75px #EFEDDE;
    color: rgb(36, 4, 0);
    transition: 0.2s;
}

.contentWrap {
    max-width: 1024px;
    background-color: #EFEDDE;
    font-size: 18px;
    margin: auto;
    transition: 0.2s;
}

.contentWrap h1{
    color: rgba(106, 0, 14, 0.85);
    transition: 0.2s;
}

.contentWrap p{
    line-height: 50px;
}

@media only screen and (max-width: 1050px){
    .contentWrap{
        padding: 0 50px 0 50px;
    }
    
    .mainTitle h1{
        font-size: 80px;
    }

    .innhold {
        margin-top: 170px;
    }
    
}

@media only screen and (max-width: 800px){
    .contentWrap{
        font-size: 18px;
        padding: 0 25px 0 25px; 
    }
    .mainTitle h1{
        font-size: 70px;
    }
    .innhold {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 700px){
    .contentWrap{
        font-size: 18px;
        padding: 0 25px 0 25px; 
    }
    .mainTitle h1{
        font-size: 60px;
    }
    .innhold {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 630px){
    .mainTitle h1{
        font-size: 50px;
    }
    .innhold {
        margin-top: 130px;
    }
}


@media only screen and (max-width: 500px){
    .contentWrap{
        padding: 0 20px 0 20px; 
    }
    .innhold {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 450px) {
    .contentWrap p{
        line-height: 35px;
    }

    .mainTitle h1{
        font-size: 40px;
    }
    .innhold {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 380px) {
    .contentWrap{
        font-size: 14px;
        padding: 0 15px 0 15px;
        }
    .mainTitle h1{
        font-size: 40px;
    }
}

@media only screen and (max-width: 330px) {
    .mainTitle h1{
        font-size: 35px;
    }
}